.about-form {
    color: #fff;
    margin: 60px 0;
    min-height: 160px;
    padding: 65px;
    position: relative;
    text-align: center;
    z-index: 2
}

.about-half-green-box {
    background-color: #8a8686;
    min-height: 150px;
    mix-blend-mode: multiply;
    position: absolute;
    top: 70px;
    width: 100%;
}

@media screen and (max-width:768px) {
    .about-form {
        min-height: 580px;
        padding: 15px
    }
    .about-form h2 {
        font-size: 60px
    }
}

@media screen and (max-width:768px) {
    .about-form {
        margin: 60px 0 120px
    }
}