<div class="main-content">

  <div class="half-banner background">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="about-form">
            <h2 class="o">About Charisma Homestay</h2>
          </div>
          <div class="about-half-green-box">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Home grid section start -->
  <div class="homepage-grid">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-left">

            <h2 class="text-center">About Homestay</h2>

            <p class="p1"><b>RATED THE BEST IN MANGALORE</b></p>

            <p class="p1"><b>Best budget Homestay in Mangalore Book us on Airbnb :</b></p>
            
            <br>
            
            <p class="p1"><b>Description &nbsp; Facilities in the House:</b></p>
            
            <ul>
              <li>3 Bedr House with backyard and garden – approx 1750sq.ft (Fully Furnished Luxurious).</li>
              <li>Close to shopping mall, Bus stand, Hospitals</li>
              <li>Detachable Mosquito Nets to all Windows</li>
              <li>Vitrified Flooring Tiles for Hall, Bedrooms</li>
              <li>Washable Acrylic Paint to wall with Gypsum Interior Finish</li>
              <li>Power Backup and Supply for Lights and Fans</li>
              <li>Living Cum Dinning: Sofa, TV(cable) with Hand Wash Basin and Mirror, Washing Machine, Refrigerator, Purified Drinking Water.</li>
              <li>Bedrooms: Air-Conditioner’s, Ward Robes, Cot, Bed, Mattresses</li>
              <li>Kitchen: Granite Platform and Glazed Kitchen Tiles, Water Filter, Microwave, Gas Range, Utensils, crockery and Glassware.</li>
              <li>Kitchen Passage: Fridge, Washing Machine Toilets: Anti-slippery Rustic Tiles to the Floor with Designer Wall Tiles and
                Jaguar CP Fittings, Geysers, Hand wash Basin with Mirror.</li>
            </ul>

            <br>

            <p class="p1"><b>Proximity from places of importance:</b></p>

            <ul>
              <li>Bendoor Church &amp; Hall / Valencia Church &amp; Hall / Fathima Retreat House / Jeppu Seminary Church and Hall./ Jamiyyathul
                Falah Mosque and community Hall.</li>
              <li>Mak Mall, Barbeque Nation, Brand Factory / Kankanady Bus Station / Fr Mullers Hospital, Omega Hospital, Colaco Hospital,
                Indiana Hospitals.&nbsp;&nbsp;</li>
              <li>A J Hospital, Kuntikan / Shree Manjunatheshwara Temple / Mahesh PU College, Kottara / Bendur Church &amp; Platinum Jubilee
                Hall / KMC Hospital / St Agnes College – 0.5 Kms(2 Minutes).</li>
              <li>Tannirbavi beach / City Centre Mall,Hampankatta / Easy Day, Attavara/ Forum Mall, Pandeshwar / State Bank of India, Mangalore
                Main / Mangalore Central Railway Station / Ideal Ice cream Parlour, Hampankatta / KMC College, Mangalore / St Aloysius
                College &amp; Chapel- 2 Kms(8 Minutes).</li>
              <li>Panambur Beach / New Mangalore Port, Panambur / Baikampady Industrial Estate / MCF/ KIOCL / Indian Oil Corporation / HPCL
                Gas Plant- 13 Kms (13 Minutes).</li>
              <li>Mangalore International Airport / Pilikula Nisarga Dhama, Vamanjoor- 20 Kms (20 Minutes).</li>
            </ul>
            <br>
            <br>

          </div>
        </div>
      </div>

      <div class="clearfix"></div>
  </div>

