<div class="main-content">
  <!-- Home grid section start -->
  <div class="homepage-grid">
    <div class="row">
        <div class="col-md-8 gallery-row">
          <h2 class="text-center">About Homestay</h2>
          <p class="p1">
            <b>RATED THE BEST IN MANGALORE</b>
          </p>
          <p class="p1">
            <b>Best budget Homestay in Mangalore Book us on Airbnb :</b>
          </p>
        </div>
        
        <div class="col-md-4 bg-gradient gallery-row">
          <div class="row">
            <div class="col-md-6">
              <i class="fa fa-wifi gallery-icon"></i>
              <br>
              Wi-Fi
            </div>
            <div class="col-md-6">
              <i class="fa fa-paw gallery-icon"></i>
              <br>
              Pet Friendly
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <i class="fa fa-child gallery-icon"></i>
              <br>
              Child Safe
            </div>
            <div class="col-md-6">
              <i class="fa fa-camera gallery-icon"></i>
              <br>
              Security
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <i class="fa fa-tint gallery-icon"></i>
              <br>
              24 Hrs Water
            </div>
            <div class="col-md-6">
              <i class="fa fa-plug gallery-icon"></i>
              <br>
              Power Backup
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-4 bg-gradient gallery-row">
        <div class="row">
          <div class="col-md-6">
            <i class="fa fa-wifi gallery-icon"></i>
            <br> Wi-Fi
          </div>
          <div class="col-md-6">
            <i class="fa fa-paw gallery-icon"></i>
            <br> Pet Friendly
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <i class="fa fa-child gallery-icon"></i>
            <br> Child Safe
          </div>
          <div class="col-md-6">
            <i class="fa fa-camera gallery-icon"></i>
            <br> Security
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <i class="fa fa-tint gallery-icon"></i>
            <br> 24 Hrs Water
          </div>
          <div class="col-md-6">
            <i class="fa fa-plug gallery-icon"></i>
            <br> Power Backup
          </div>
        </div>
      </div>
    
      <div class="col-md-8 gallery-row">
        <h2 class="text-center">About Homestay</h2>
        <p class="p1">
          <b>RATED THE BEST IN MANGALORE</b>
        </p>
        <p class="p1">
          <b>Best budget Homestay in Mangalore Book us on Airbnb :</b>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 gallery-row">
        <h2 class="text-center">About Homestay</h2>
        <p class="p1">
          <b>RATED THE BEST IN MANGALORE</b>
        </p>
        <p class="p1">
          <b>Best budget Homestay in Mangalore Book us on Airbnb :</b>
        </p>
      </div>
    
      <div class="col-md-4 bg-gradient gallery-row">
        <div class="row">
          <div class="col-md-6">
            <i class="fa fa-wifi gallery-icon"></i>
            <br> Wi-Fi
          </div>
          <div class="col-md-6">
            <i class="fa fa-paw gallery-icon"></i>
            <br> Pet Friendly
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <i class="fa fa-child gallery-icon"></i>
            <br> Child Safe
          </div>
          <div class="col-md-6">
            <i class="fa fa-camera gallery-icon"></i>
            <br> Security
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <i class="fa fa-tint gallery-icon"></i>
            <br> 24 Hrs Water
          </div>
          <div class="col-md-6">
            <i class="fa fa-plug gallery-icon"></i>
            <br> Power Backup
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>