<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-sm-3">
                <a class="logo" href="/"><img alt="Logo Charisma" src=""gt></a>
            </div>
            <div class="col-sm-7 col-md-6">
                <!-- Primary Navigation -->
                <div class="nav main-nav">
                    <ul>
                        <a href="/gallery/"><li id="ctl00_food">Gallery</li></a>
                        <a href="/about/"><li id="ctl00_story">About Us</li></a>
                        <a href="/information/"><li id="ctl00_kitchen">Information</li></a>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 col-md-3">
                <!-- Social Media Navigation -->
                <div class="nav top-search">
                    <div>
                        <a class="search-trigger" href="/locations/"><i class="fa fa-search"></i> <span class="soft-text">Find Charisma</span></a>
                    </div>
                    <ul>
                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                    <div class="searchbox" style="display: none;">
                        <input class="search-text" value="" placeholder="Enter Zip" maxlength="5" type="text"><i class="fa fa-search search-button"></i>
                        <div class="search-error-box">Please enter a valid Zip Code</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-9">
                <div class="nav mobile-nav">
                    <i class="fa fa-bars open-menu"></i>
                    <i class="fa fa-remove close-menu hidden"></i>
                    <div id="mobile-nav">
                        <ul>
                            <li class="top-search">
                                <div>
                                    <a class="search-trigger" href="#"><i class="fa fa-search"></i> <span class="soft-text">Search</span></a>
                                </div>
                                <div class="searchbox" style="display: none;">
                                    <input type="text" class="search-text" value="" placeholder="Enter Zip" maxlength="5"><i class="fa fa-search search-button"></i>
                                    <div class="search-error-box">Please enter a valid Zip Code</div>
                                </div>
                            </li>
                            <a href="#"><li id="ctl00_foodMobile"><span>OUR FOODS</span></li></a>
                            <a href="#"><li id="ctl00_storyMobile"><span>OUR STORY</span></li></a>
                            <a href="#"><li id="ctl00_kitchenMobile" class="active"><span>OUR KITCHEN</span></li></a>
                            <ul class="inner-social">
                                <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                            </ul>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>