<!-- <app-mega-carousel></app-mega-carousel> -->

<div class="main-content">

  <div class="homepage-slider">
    <div class="slide first responsive-image">
      <a href="#">
        <picture>
          <img src="http://lorempixel.com/1920/900/city/" alt="Image">
        </picture>
      </a>
    </div>
  </div>
  
  <div class="chickpea background">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="green-form">
            <h2 class="o">A CHICKPEA STORY</h2>
            <div class="edittexthome">
              <p class="p1">Follow the journey of a single Cedar&rsquo;s chickpea as it makes its way from the farm to your table.</p>
              &nbsp;
              <p class="p1"><a class="youtube-video" href="#youtube" target="_blank">PLAY VIDEO</a></p>
            </div>
          </div>
          <div class="green-box">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Home grid section start -->
  <div class="homepage-grid">
     <!-- History section -->
    <div class="history">

      <div class="grid-left">
        <div class="box">
          <h2 class="o"><span>&mdash;HISTORY&mdash;</span><br />ORIGINALITY</h2>
        </div>
      </div>

      <div class="grid-right">
        <h3>TRADITIONAL RECIPE</h3>
        <div class="edittexthome">
          <p class="p1">We&rsquo;ve been making (and spelling) our Hommus the same way since the beginning. Simple, great tasting and good
            for you. If it works, don&rsquo;t change it. &nbsp;<br /><br />
            <a href="/Our-Story.aspx#history">WHO WE ARE</a></p>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <!-- Process section -->
    <div class="process">
      <div class="grid-left-first">
        <div class="box">
          <h2 class="o"><span>&mdash;PROCESS&mdash;</span><br />&quot;O&quot;THENTICITY</h2>
        </div>
      </div>

      <div class="grid-left">
        <h3>SIMPLY MADE</h3>
        <div class="edittexthome">
          <p class="p1">No one makes Hommus the way we do. Our unique process allows us to deliver the freshest, most dippable Hommus you&rsquo;ll
            ever taste&mdash;without the preservatives. We never changed the way we make it. Or spell it.&nbsp;<br />
            <br />
            <a href="/Our-Story.aspx#process">HOW WE DO IT</a></p>
        </div>
      </div>

      <div class="grid-right">
        <div class="box">
          <h2 class="o"><span>&mdash;PROCESS&mdash;</span><br />&quot;O&quot;THENTICITY</h2>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <!-- Ingredients section -->
    <div class="ingredients">

      <div class="grid-left">
        <div class="box">
          <h2 class="o"><span>&mdash;INGREDIENTS&mdash;</span><br />HONESTY</h2>
        </div>
      </div>

      <div class="grid-right">
        <h3>THE BEST INGREDIENTS</h3>
        <div class="edittexthome">
          <p>Our ingredients are as pure as our process. From the chickpeas, to the tahini, to the spices we use&mdash;everything
            we add makes our Hommus taste better and is better for you.<br /><br />
          <a href="/Our-Story.aspx#ingredients">WHAT WE USE</a></p>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>

  <!-- Originals section -->
  <div class="original">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <img src="/assets/images/HomePg_Original.png" />
        </div>
        <div class="col-md-5">
          <h3>NOTHING BEATS THE ORIGINAL</h3>
          <div class="edittexthome">
            <p class="p1">This is the Hommus that started it all. While we pride ourselves on offering bold and imaginative flavors, Cedar&rsquo;s
              Original will always be at the core of what we do.<br /><br />
              <a href="#">EXPLORE OUR FOODS</a></p>
          </div>
          <div class="row">
            <div class="original-icons">
              <div class="col-xs-4">
                <a href="#">
                      <img src="/assets/images/nongmo.png" class="green-icon"/>
                      <img src="/assets/images/nongmo-grey.png" class="white-hover"/>
                      <h4>NON-GMO VERIFIED</h4>
                  </a>
              </div>
              <div class="col-xs-4">
                <a href="#">
                      <img src="/assets/images/glutenfree.png" class="green-icon"/>
                      <img src="/assets/images/glutenfree-grey.png" class="white-hover"/>
                      <h4>GLUTEN FREE</h4>
                  </a>
              </div>
              <div class="col-xs-4">
                <a href="#">
                      <img src="/assets/images/vegan1.png" class="green-icon"/>
                      <img src="/assets/images/vegan1-grey.png" class="white-hover"/>
                      <h4>CERTIFIED VEGAN</h4>
                  </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Homepage Recpies -->
  <div class="homepage-recipes">
    <img src="/assets/images/spinach.png" class="veggie" />
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>SEE WHAT&rsquo;S COOKING</h3>
          <div class="row">
            <div class="col-sm-6">
              <p>Our favorite recipes straight from Cedar&rsquo;s Chickpea Kitchen.</p>
            </div>
            <div class="col-sm-5 col-md-4">
              <a href="#" class="green-button">VIEW ALL RECIPES</a>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="recipe-slider">
            <div class="single-recipe">
              <a href="#">
                <div class="recipe-info">
                  <h4>Chickpea Shawarma Wrap</h4>
                  <p>Meatless Monday Made Easy.</p>
                  <a href="#">VIEW RECIPE</a>
                  <a href="#" target="_blank" class="youtube-video">WATCH VIDEO</a>
                  <div class="recipe-bar" style="height: 1px; width: 50%; margin: 30px auto; background-color: #8e8e90;"></div>
                  <div class="details">
                    <span class="serves">Serves 4</span>
                    <span class="total-time">15-29 Minutes</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="single-recipe">
              <a href="#">
                  <div class="recipe-info">
                    <h4>Chickpea Shawarma Wrap</h4>
                    <p>Meatless Monday Made Easy.</p>
                    <a href="#">VIEW RECIPE</a>
                    <a href="#" target="_blank" class="youtube-video">WATCH VIDEO</a>
                    <div class="recipe-bar" style="height: 1px; width: 50%; margin: 30px auto; background-color: #8e8e90;"></div>
                    <div class="details">
                      <span class="serves">Serves 4</span>
                      <span class="total-time">15-29 Minutes</span>
                    </div>
                  </div>
                </a>
            </div>

            <div class="single-recipe">
              <a href="#">
                  <div class="recipe-info">
                    <h4>Chickpea Shawarma Wrap</h4>
                    <p>Meatless Monday Made Easy.</p>
                    <a href="#">VIEW RECIPE</a>
                    <a href="#" target="_blank" class="youtube-video">WATCH VIDEO</a>
                    <div class="recipe-bar" style="height: 1px; width: 50%; margin: 30px auto; background-color: #8e8e90;"></div>
                    <div class="details">
                      <span class="serves">Serves 4</span>
                      <span class="total-time">15-29 Minutes</span>
                    </div>
                  </div>
              </a>
            </div>

            <div class="single-recipe">
              <a href="#">
                  <div class="recipe-info">
                    <h4>Chickpea Shawarma Wrap</h4>
                    <p>Meatless Monday Made Easy.</p>
                    <a href="#">VIEW RECIPE</a>
                    <a href="#" target="_blank" class="youtube-video">WATCH VIDEO</a>
                    <div class="recipe-bar" style="height: 1px; width: 50%; margin: 30px auto; background-color: #8e8e90;"></div>
                    <div class="details">
                      <span class="serves">Serves 4</span>
                      <span class="total-time">15-29 Minutes</span>
                    </div>
                  </div>
                </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Homepage Social -->
  <div class="homepage-social">
    <img src="/assets/images/tomato.png" class="veggie" />
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h3 class="o">SHARE THE LOVE</h3><p>@cedarsfoods</p>
        </div>
        <div class="col-md-7">
          <div class="nav nav-social">
            <ul>
              <li><a href="https://instagram.com/cedarsfoods/" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="http://twitter.com/cedarsfoods" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/CedarsFoods/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCUqWkv7uVXxqIlPHbTY2ctw" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="social-grid"></div>
  </div>

</div>


<!-- Email Form Section -->
<div id="email" class="email-form background">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="green-form">
          <h2>SAY HI AND WE'LL GIVE YOU A COUPON</h2>
          <div>
            <div id="ctl00_ctl11_pM_pMP"></div>
            <div id="ctl00_ctl11_pnlForm" class="FormPanel" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;ctl00_ctl11_btnOK&#39;)">
              <div class="form">
                <div class="page-one form-page">
                  <p>We can&rsquo;t wait to share our love for Hommus and Mediterranean foods with you. So, share your email
                    with us and we&rsquo;ll give you a coupon.</p>

                  <div class="form-row row1">
                    <div class="column01 column">
                      <div id="ctl00_ctl11_ncpfirstname" class="EditingFormControlNestedControl editing-form-control-nested-control">
                        <input name="ctl00$ctl11$FirstName$txtText" type="text" maxlength="200" id="ctl00_ctl11_FirstName_txtText" class="form-control first-name text"
                        />
                        <input type="hidden" name="ctl00$ctl11$FirstName$exWatermark_ClientState" id="ctl00_ctl11_FirstName_exWatermark_ClientState"
                        />
                      </div>
                    </div>

                    <div class="column02 column">
                      <div id="ctl00_ctl11_ncplastname" class="EditingFormControlNestedControl editing-form-control-nested-control">
                        <input name="ctl00$ctl11$LastName$txtText" type="text" maxlength="200" id="ctl00_ctl11_LastName_txtText" class="form-control last-name text"
                        />
                        <input type="hidden" name="ctl00$ctl11$LastName$exWatermark_ClientState" id="ctl00_ctl11_LastName_exWatermark_ClientState"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="form-row row2">
                    <div class="column01 column">
                      <div id="ctl00_ctl11_ncpemail" class="EditingFormControlNestedControl editing-form-control-nested-control">
                        <input name="ctl00$ctl11$Email$txtText" type="text" maxlength="200" id="ctl00_ctl11_Email_txtText" class="form-control email text"
                        />
                        <input type="hidden" name="ctl00$ctl11$Email$exWatermark_ClientState" id="ctl00_ctl11_Email_exWatermark_ClientState" />
                      </div>
                    </div>

                    <div class="column02 column form-controls"><input type="submit" name="ctl00$ctl11$btnOK" value="GET COUPON" id="ctl00_ctl11_btnOK" class="FormButton btn btn-primary"
                      /></div>
                  </div>

                  <div class="form-row row3">
                    <div class="column01 column controls checkbox">
                      <div id="ctl00_ctl11_ncpoptin" class="EditingFormControlNestedControl editing-form-control-nested-control">
                        <span class="CheckBoxField checkbox"><input id="ctl00_ctl11_OptIn_checkbox" type="checkbox" name="ctl00$ctl11$OptIn$checkbox" checked="checked" /><label for="ctl00_ctl11_OptIn_checkbox">&nbsp;</label></span>

                      </div><label id="ctl00_ctl11_OptIn_lb" class="EditingFormLabel" for="ctl00_ctl11_OptIn_checkbox">By checking this box you agree to receive communications from Cedar's Mediterranean Foods, Inc.</label></div>

                    <div class="column02 column">&nbsp;</div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="green-box"></div>
      </div>
    </div>
  </div>
</div>


