<div class="main-content">

  <div class="homepage-slider">
    <app-mega-carousel></app-mega-carousel>
    {{ home }}
  </div>
  
  <div class="full-banner background">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="green-form">
            <h2 class="o">Title Here</h2>
            <div class="edittexthome">
              <p class="p1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
              &nbsp;
              <p class="p1"><a class="youtube-video" href="#youtube" target="_blank">PLAY VIDEO</a></p>
            </div>
          </div>
          <div class="green-box">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Home grid section start -->
  <div class="homepage-grid">
     <!-- History section -->
    <div class="history">

      <div class="grid-left">
        <div class="box">
          <h2 class="o"><span>&mdash;TITLE WITH&mdash;</span><br />LINE BREAK</h2>
        </div>
      </div>

      <div class="grid-right">
        <h3>TRADITIONAL RECIPE</h3>
        <div class="edittexthome">
          <p class="p1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.  &nbsp;<br /><br />
            <a href="#">LINK PAGES</a></p>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <!-- Process section -->
    <div class="process">
      <div class="grid-left-first">
        <div class="box">
          <h2 class="o"><span>&mdash;TITLE WITH&mdash;</span><br />LINE BREAK</h2>
        </div>
      </div>

      <div class="grid-left">
        <h3>TEXT TITLE</h3>
        <div class="edittexthome">
          <p class="p1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. &nbsp;<br />
            <br />
            <a href="#">HOW WE DO IT</a></p>
        </div>
      </div>

      <div class="grid-right">
        <div class="box">
          <h2 class="o"><span>&mdash;TITLE WITH&mdash;</span><br />LINE BREAK</h2>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>

    <!-- Ingredients section -->
    <div class="ingredients">

      <div class="grid-left">
        <div class="box">
          <h2 class="o"><span>&mdash;TITLE WITH&mdash;</span><br />LINE BREAK</h2>
        </div>
      </div>

      <div class="grid-right">
        <h3>TITLE OF TEXT</h3>
        <div class="edittexthome">
          <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br /><br />
          <a href="#">LINK TO PAGE</a></p>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>

  <!-- Originals section -->
  <div class="original">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <img src="/assets/images/HomePg_Original.png" />
        </div>
        <div class="col-md-5">
          <h3>TITLE OF TEXT</h3>
          <div class="edittexthome">
            <p class="p1">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br /><br />
              <a href="#">LINK TO PAGE</a></p>
          </div>
          <div class="row">
            <div class="original-icons">
              <div class="col-xs-4">
                <a href="#">
                    <i class="fa fa-wifi" aria-hidden="true"></i>
                    <h4>TEXT TITLE</h4>
                </a>
              </div>
              <div class="col-xs-4">
                <a href="#">
                    <i class="fa fa-wifi" aria-hidden="true"></i>
                    <h4>TEXT TITLE</h4>
                </a>
              </div>
              <div class="col-xs-4">
                <a href="#">
                    <i class="fa fa-wifi" aria-hidden="true"></i>
                    <h4>TEXT TITLE</h4>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Homepage Recpies -->
  <!-- <div class="homepage-recipes">
    <img src="/assets/images/spinach.png" class="veggie" />
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>TEXT TITLE HERE</h3>
          <div class="row">
            <div class="col-sm-6">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="col-sm-5 col-md-4">
              <a href="#" class="green-button">LINK TO INTERNAL PAGES</a>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="recipe-slider">
            <div class="single-recipe">
              <a href="#">
                <div class="recipe-info">
                  <h4>Lorem ipsum text</h4>
                  <p>Lorem Ipsum is simply.</p>
                  <a href="#">VIEW RECIPE</a>
                  <a href="#" target="_blank" class="youtube-video">WATCH VIDEO</a>
                  <div class="recipe-bar" style="height: 1px; width: 50%; margin: 30px auto; background-color: #8e8e90;"></div>
                  <div class="details">
                    <span class="serves">Demo text</span>
                    <span class="total-time">Demo sub text</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="single-recipe">
              <a href="#">
                <div class="recipe-info">
                  <h4>Lorem ipsum text</h4>
                  <p>Lorem Ipsum is simply.</p>
                  <a href="#">VIEW RECIPE</a>
                  <a href="#" target="_blank" class="youtube-video">WATCH VIDEO</a>
                  <div class="recipe-bar" style="height: 1px; width: 50%; margin: 30px auto; background-color: #8e8e90;"></div>
                  <div class="details">
                    <span class="serves">Demo text</span>
                    <span class="total-time">Demo sub text</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="single-recipe">
              <a href="#">
                <div class="recipe-info">
                  <h4>Lorem ipsum text</h4>
                  <p>Lorem Ipsum is simply.</p>
                  <a href="#">VIEW RECIPE</a>
                  <a href="#" target="_blank" class="youtube-video">WATCH VIDEO</a>
                  <div class="recipe-bar" style="height: 1px; width: 50%; margin: 30px auto; background-color: #8e8e90;"></div>
                  <div class="details">
                    <span class="serves">Demo text</span>
                    <span class="total-time">Demo sub text</span>
                  </div>
                </div>
              </a>
            </div>

            <div class="single-recipe">
              <a href="#">
                <div class="recipe-info">
                  <h4>Lorem ipsum text</h4>
                  <p>Lorem Ipsum is simply.</p>
                  <a href="#">VIEW RECIPE</a>
                  <a href="#" target="_blank" class="youtube-video">WATCH VIDEO</a>
                  <div class="recipe-bar" style="height: 1px; width: 50%; margin: 30px auto; background-color: #8e8e90;"></div>
                  <div class="details">
                    <span class="serves">Demo text</span>
                    <span class="total-time">Demo sub text</span>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Homepage Social -->
  <div class="homepage-social">
    <img src="/assets/images/tomato.png" class="veggie" />
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h3 class="o">SHARE THE LOVE</h3><p>@charismahomestay</p>
        </div>
        <div class="col-md-7">
          <div class="nav nav-social">
            <ul>
              <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="social-grid"></div>
  </div>

</div>


<!-- Email Form Section -->
<div id="email" class="email-form background">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="green-form">
          <h2>SAY HI AND WE'LL GIVE YOU A COUPON</h2>
          <div>
            <div id="ctl00_ctl11_pM_pMP"></div>
            <div id="ctl00_ctl11_pnlForm" class="FormPanel">
              <div class="form">
                <div class="page-one form-page">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                  <div class="form-row row1">
                    <div class="column01 column">
                      <div id="ctl00_ctl11_ncpfirstname" class="EditingFormControlNestedControl editing-form-control-nested-control">
                        <input name="FIrstName" placeholder="Fisrt Name" type="text" maxlength="200" class="form-control"/>
                      </div>
                    </div>

                    <div class="column02 column">
                      <div id="ctl00_ctl11_ncplastname" class="EditingFormControlNestedControl editing-form-control-nested-control">
                        <input name="LastName" placeholder="Last Name" type="text" maxlength="200" class="form-control"/>
                      </div>
                    </div>
                  </div>

                  <div class="form-row row2">
                    <div class="column01 column">
                      <div class="EditingFormControlNestedControl editing-form-control-nested-control">
                        <input name="Email" placeholder="Email" type="text" maxlength="200" class="form-control"/>
                      </div>
                    </div>
                    <div class="column02 column form-controls">
                      <input type="submit" value="SUBMIT" class="FormButton btn btn-primary"/></div>
                  </div>

                  <div class="form-row row3">
                    <div class="column01 column controls checkbox">
                      <div id="ctl00_ctl11_ncpoptin" class="EditingFormControlNestedControl editing-form-control-nested-control">
                        <span class="CheckBoxField checkbox">
                          <input type="checkbox" name="" checked="checked" />
                          <label for="">&nbsp;</label></span>
                      </div>
                      <label class="EditingFormLabel" for="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</label></div>

                    <div class="column02 column">&nbsp;</div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="green-box"></div>
      </div>
    </div>
  </div>
</div>


