<div class="main-content">

  <div class="homepage-slider">
    <app-mega-carousel [sliders]="data.slider"></app-mega-carousel>
  </div>

  <div class="full-banner background">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="green-form">
            <h2 class="o">{{data.mainSection.title | uppercase}}</h2>
            <div class="edittexthome">
              <p class="p1">{{data.mainSection.desc}}</p>
              &nbsp;
              <p class="p1">
                <a class="youtube-video" [href]="data.mainSection.btnUrl" target="_blank">{{data.mainSection.btn}}</a>
              </p>
            </div>
          </div>
          <div class="green-box">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Home grid section start -->
  <div class="homepage-grid">
     <!-- History section -->
    <div class="history">

      <div class="grid-left">
        <div class="box">
          <h2 class="o"><span>&mdash;{{data.grid[0].imgCaption | uppercase}}&mdash;</span><br />{{data.grid[0].imgSubCaption | uppercase}}</h2>
        </div>
      </div>

      <div class="grid-right">
        <h3>{{data.grid[0].title | uppercase}}</h3>
        <div class="edittexthome">
          <p class="p1">{{data.grid[0].desc}}  &nbsp;<br /><br />
            <a [href]="data.grid[0].btnUrl">{{data.grid[0].btn | uppercase}}</a></p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <!-- Process section -->
    <div class="process">
      <div class="grid-left-first">
        <div class="box">
          <h2 class="o">
            <span>&mdash;{{data.grid[1].imgCaption | uppercase}}&mdash;</span>
            <br />{{data.grid[1].imgSubCaption | uppercase}}</h2>
        </div>
      </div>
      <div class="grid-left">
        <h3>{{data.grid[1].title | uppercase}}</h3>
        <div class="edittexthome">
          <p class="p1">{{data.grid[1].desc}}
            <br>
            <br>
            <a [href]="data.grid[1].btnUrl">{{data.grid[1].btn | uppercase}}</a>
          </p>

        </div>
      </div>
      <div class="grid-right">
        <div class="box">
          <h2 class="o">
            <span>—{{data.grid[1].imgCaption | uppercase}}—</span>
            <br>{{data.grid[1].imgSubCaption | uppercase}}</h2>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <!-- Ingredients section -->
    <div class="ingredients">

      <div class="grid-left">
        <div class="box">
          <h2 class="o">
            <span>&mdash;{{data.grid[2].imgCaption | uppercase}}&mdash;</span>
            <br />{{data.grid[2].imgSubCaption | uppercase}}</h2>
        </div>
      </div>
      
      <div class="grid-right">
        <h3>{{data.grid[2].title | uppercase}}</h3>
        <div class="edittexthome">
          <p class="p1">{{data.grid[2].desc}} &nbsp;
            <br />
            <br />
            <a [href]="data.grid[2].btnUrl">{{data.grid[2].btn | uppercase}}</a>
          </p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <!-- Process section -->
    <div class="process">
      <div class="grid-left-first">
        <div class="box">
          <h2 class="o">
            <span>&mdash;{{data.grid[3].imgCaption | uppercase}}&mdash;</span>
            <br />{{data.grid[3].imgSubCaption | uppercase}}</h2>
        </div>
      </div>
      <div class="grid-left">
        <h3>{{data.grid[3].title | uppercase}}</h3>
        <div class="edittexthome">
          <p class="p1">{{data.grid[3].desc}}
            <br>
            <br>
            <a [href]="data.grid[3].btnUrl">{{data.grid[3].btn | uppercase}}</a>
          </p>
    
        </div>
      </div>
      <div class="grid-right">
        <div class="box">
          <h2 class="o">
            <span>—{{data.grid[3].imgCaption | uppercase}}—</span>
            <br>{{data.grid[3].imgSubCaption | uppercase}}</h2>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

  <!-- Originals section -->
  <div class="original">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <img src="../assets/images/logo.png" alt="Charisma Homestay Logo" />
        </div>
        <div class="col-md-5">
          <h3>{{data.feature.title | uppercase}}</h3>
          <div class="edittexthome">
            <p class="p1">{{data.feature.desc}}<br /><br />
              <a [href]="data.feature.btnUrl">{{data.feature.btn}}</a></p>
          </div>
          <div class="row">
            <div class="original-icons">
              <div class="col-xs-4" *ngFor="let facility of data.facilities">
                <a href="#">
                    <i [ngClass]="facility.icon" aria-hidden="true"></i>
                    <h4>{{facility.title}}</h4>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Homepage Social -->
  <div class="homepage-social">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h3 class="o">SHARE THE LOVE</h3>
        </div>
        <div class="col-md-7">
          <div class="nav nav-social">
            <ul>
              <li><a href="#" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#" class="social-link" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="social-link" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" class="social-link" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="social-grid"></div>
  </div>

</div>


<!-- Email Form Section -->
<div id="email" class="email-form background">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="green-form">
          <h2>{{data.contact.title | uppercase}}</h2>
          <div>
            <div id="ctl00_ctl11_pM_pMP"></div>
            <div id="ctl00_ctl11_pnlForm" class="FormPanel">
              <div class="form">
                <div class="page-one form-page">
                  <p>{{data.contact.desc}}</p>

                  <div class="form-row row1">
                    <div class="column01 column">
                      <div id="ctl00_ctl11_ncpfirstname" class="EditingFormControlNestedControl editing-form-control-nested-control">
                        <input name="FIrstName" placeholder="Fisrt Name" type="text" maxlength="200" class="form-control"/>
                      </div>
                    </div>

                    <div class="column02 column">
                      <div id="ctl00_ctl11_ncplastname" class="EditingFormControlNestedControl editing-form-control-nested-control">
                        <input name="LastName" placeholder="Last Name" type="text" maxlength="200" class="form-control"/>
                      </div>
                    </div>
                  </div>

                  <div class="form-row row2">
                    <div class="column01 column">
                      <div class="EditingFormControlNestedControl editing-form-control-nested-control">
                        <input name="Email" placeholder="Email" type="text" maxlength="200" class="form-control"/>
                      </div>
                    </div>
                    <div class="column02 column form-controls">
                      <input type="submit" value="SUBMIT" class="FormButton btn btn-primary"/></div>
                  </div>

                  <div class="form-row row3">
                    <div class="column01 column controls checkbox">
                      <div id="ctl00_ctl11_ncpoptin" class="EditingFormControlNestedControl editing-form-control-nested-control">
                        <span class="CheckBoxField checkbox">
                          <input type="checkbox" name="" checked="checked" />
                          <label for="">&nbsp;</label></span>
                      </div>
                      <label class="EditingFormLabel" for="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</label></div>

                    <div class="column02 column">&nbsp;</div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="green-box"></div>
      </div>
    </div>
  </div>
</div>


