<!-- FOOTER -->
<div class="footer-nav">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="nav list-nav">
          <h4>OUR COMPANY</h4>
          <ul>
            <li><a href="#">LINK PAGE</a></li>
            <li><a href="#">LINK PAGE</a></li>
            <li><a href="#">LINK PAGE</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3 col-lg-offset-1">
        <div>
          <h4>THIS IS TITLE</h4>
          <p class="dark-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3 col-lg-offset-1">
        <div id="contact-form" class="open-button contactform">
          <h4>CONTACT US</h4>
          <p class="dark-text"><span>Charisma Homestay. </span><br>Balikashrama Road, Kankanady, <br>Mangalore City, Karnataka - 575002 <br><a href="tel:9448549944">944.854.9944</a></p>
          <p class="dark-text"><a id="btnEmailUs" style="font-size:14px;" data-form="contactform" data-type="modal-trigger" class="kitchen-split__button open-contact-form btn"
              href="">Email Us</a>
            <span class="cd-modal-bg cd-modal-bg-green"></span></p>
          <div class="cd-modal contactmodal">
            <div class="cd-modal-content">
              <div class="modal-form ">
                <div class="green-form">
                  <h3>CONTACT US</h3>

                  <div id="ctl00_contactForm">
                    <div id="ctl00_contactForm_pM_pMP">

                    </div>
                    <div id="ctl00_contactForm_pnlForm" class="FormPanel" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ctl00_contactForm_btnOK')">
                      Have a question, suggestion or simply want to say hello?<br> Fill out the form below and we will get
                      back to you during business<br> hours Monday-Friday, 8:00am-5:00pm EST.
                      <div class="form-contact">
                        <div class="form-row">
                          <div><label id="" class="EditingFormLabel" for=""></label></div>

                          <div>
                            <div id="" class="EditingFormControlNestedControl editing-form-control-nested-control">
                              <select name="" id="" class="DropDownField form-control">
                                <option selected="selected" value="0">Select Subject</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <div class="form-row">
                          <div><label id="" class="EditingFormLabel" for=""></label></div>

                          <div>
                            <div id="" class="EditingFormControlNestedControl editing-form-control-nested-control">
                              <textarea name="" rows="2" cols="20" id="" class="form-control text WatermarkText"></textarea>
                              <input type="hidden" name="" id="">
                            </div>
                          </div>
                        </div>

                        <div class="form-row">
                          <div><label id="" class="EditingFormLabel" for=""></label></div>
                          <div>
                            <div id="" class="EditingFormControlNestedControl editing-form-control-nested-control">
                              <input name="" type="text" maxlength="100" id="" class="form-control first-name text WatermarkText">
                              <input type="hidden" name="" id="">
                            </div>
                          </div>
                        </div>

                        <div class="form-row">
                          <div><label id="" class="EditingFormLabel" for=""></label></div>

                          <div>
                            <div id="" class="EditingFormControlNestedControl editing-form-control-nested-control">
                              <input name="" type="text" maxlength="100" id="" class="form-control last-name text WatermarkText">
                              <input type="hidden" name="" id="">
                            </div>
                          </div>
                        </div>

                        <div class="form-row">
                          <div><label id="" class="EditingFormLabel" for=""></label></div>

                          <div>
                            <div id="" class="EditingFormControlNestedControl editing-form-control-nested-control">
                              <input name="" type="text" maxlength="100" id="" class="form-control email text WatermarkText">
                              <input type="hidden" name="" id="">
                            </div>
                          </div>
                        </div>

                        <div class="form-row newslettersignup">
                          <div id="" class="EditingFormControlNestedControl editing-form-control-nested-control">
                            <span class="CheckBoxField checkbox" style="newsletter-chkbox"><input id="" type="checkbox" name="" checked="checked"><label for="">&nbsp;</label></span>

                          </div><br>
                          <label id="" class="newsletter-label" for="">By checking this box you agree to receive communications from Cedar's Mediterranean Foods, Inc.:</label></div>

                        <div class="form-row button-row">
                          <div><input type="submit" name="" value="Submit" id=""
                              class="FormButton btn btn-primary"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>
            <a href="#" class="cd-modal-close white-x"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="nav nav-social">
          <ul>
            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
          </ul>
          <p class="soft-text">Directions to our homestay</p>
          <div class="searchbox">
            <input type="text" class="search-text" value="" placeholder="Enter Zip" maxlength="5"><i class="fa fa-search search-button"></i>
            <div class="search-error-box">Please enter a valid Zip Code</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="footer">
  <div class="container">
      <div class="row">
          <div class="col-md-5">
              <p class="soft-text">© 2017 Charisma Home Stay. ALL RIGHTS RESERVED.</p>
          </div>
          <div class="col-md-3">
              <div class="nav">
                  <ul>
                      <li><a href="#">DEMO PAGE</a></li>
                      <li><a href="#">POLICY PAGE</a></li>
                  </ul>
              </div>
          </div>
          <!-- <div class="col-md-4">
              <a class="logo" href=""><img alt="Charisma Homestay" src="./assets/images/logo.png"></a>
          </div> -->
      </div>
  </div>
</div>